.loading-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh; /* Full screen height */
}

.loading-logo {
    width: 200px;
    height: 200px;
    animation: pulse 1.5s infinite ease-in-out;
}

/* Keyframe animation */
@keyframes pulse {
    0% { transform: scale(0.6); opacity: 0.6; }
    50% { transform: scale(1); opacity: 1; }
    100% { transform: scale(0.6); opacity: 0.6; }
}
