:root {

  --primary-color: #de5735;
  --secondary-color: #4586dd;
  --accent-color: #74a7ea; /* Change this dynamically in JS if needed */
  --background-color: #b0ccf2;
  --white-color: #ffffff;
  --lenas-color: #18375d;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body {
  margin: 0;
  padding: 0;
  background-color: white;
}

