/* 🔹 Pie chart wrapper */
.pie-chart-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* 🔹 Pie chart style */
.pie-chart-container {
    width: 75%;
    max-width: 500px;
    margin: 0 auto;
}

/* 🔹 Table Styles */
.table {
    width: 100%;
    max-width: 500px; /* Matches Pie-chart width */
    margin: auto; /* Centers the table */
    border-collapse: collapse;
    table-layout: fixed;
    white-space: pre-wrap; /* Preserves line breaks */
    word-break: break-word; /* Ensures proper word wrapping */
    overflow-wrap: break-word;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

/* 🔹 Table Header */
.table-header {
    padding: 10px;
    border-bottom: 2px solid #ddd;
    text-align: left;
    width: 50%; /* Ensures equal column spacing */
    white-space: pre-wrap; /* Tillad linjeskift */
    word-break: break-word; /* Bryd lange ord */
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 🔹 Table Cell */
.table-cell {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

/* 🔹 Button */
.button {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background-color: var(--secondary-color); /* Will be replaced with JS variable */
}

/* 🔹 Dropdown */
.dropdown {
    margin-left: 10px;
    padding: 5px;
    font-size: 16px;
}

.party-buttons {
    display: flex;
    flex-wrap: wrap; /* Allow multiple rows */
    justify-content: center; /* Center buttons */
    gap: 1px; /* Reduce spacing */
    margin-top: 1px;
}

.party-button {
    padding: 8px 8px; /* Smaller buttons */
    border-radius: 1px;
    font-size: 16px;
    font-weight: bold;
    color: white; /* White text for contrast */
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    min-width: 40px;
}

.party-button:hover {
    transform: scale(1.1);
}

.party-button.selected {
    opacity: 0.2; /* Reduce opacity to 70% */
    /*filter: brightness(90%); !* Optional: Slightly darken the color *!*/
}

.missing-response2 {
    margin-top: 1rem;
    padding: 1rem;
    background-color: var(--background-color);
    border: 4px solid var(--accent-color);
    border-radius: 6px;
    font-family: sans-serif;
    text-align: center;
}

.missing-response2 p {
    margin: 0.5rem 0;
    line-height: 1.6;
}

.missing-response2 a {
    color: var(--accent-color);
    text-decoration: underline;
}
